<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["_content/Masa.Blazor/css/masa-blazor.min.css"]" />
    @*#if (mdi)
    <link rel="stylesheet" href="@Assets["_content/BlazorTemplate.Rcl/css/materialdesign/v7.1.96/css/materialdesignicons.min.css"]" />
    ##elseif (md)
    <link rel="stylesheet" href="@Assets["_content/BlazorTemplate.Rcl/css/material/icons.css"]" />
    ##elseif (fa)
    <link rel="stylesheet" href="@Assets["_content/BlazorTemplate.Rcl/css/fontawesome/v6.4.0/css/all.min.css"]" />
    ##endif *@
    <link rel="stylesheet" href="@Assets["_content/BlazorTemplate.Rcl/css/app.css"]" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorTemplate.Server.styles.css"]" />
    <ImportMap />
    @*#if (SampleContent)
    <link rel="icon" type="image/png" href="_content/BlazorTemplate.Rcl/favicon.png" />
    ##endif*@
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["_content/Masa.Blazor/js/masa-blazor.js"]"></script>
</body>

</html>
